{% extends "layout.html" %}
{% block title %}Create Competition{% endblock %}
{% block content %}

<div class ="container">
    <hi>Create a New Competition</hi>
        <div class="from-group">
            <label for="name">Competition Name</label>
            <input type="text" class="from-control" id="name" name="name" required>
        </div>
        <div class="from-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="participants_amount">Participants Amount</label>
            <input type="number" class="form-control" id="participants_amount" name="participants_amount" required>
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="number" class="form-control" id="duration" name="duration" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Competition</button>
    </form>
</div>
{% endblock %}    

